body {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 30px;
}

.hompage_image {
    height: 100%;
    width: 100%;
    position: relative;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #262626;
    font-size: 40px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #262626;
}

.welcome_message {
    word-wrap: break-word;
    margin: 100px;
    font-size: 25px;
}

.image_header {
    font-weight: 800;
    font-size: 100px;
    color: white;
    position: absolute;
    top: 50%;
    bottom: 50%;
}

