body {
    margin: 30px 70px 0;
}

.hompage_image {
    width: 100%;
}

h1 {
    font-family: 'Arial', sans-serif;
    color: #262626;
    font-size: 40px;
}

p {
    font-family: 'Segoe UI', sans-serif;
    color: #262626;
}

.welcome_message {
    margin: 50px;
    font-size: 20px;
}

.image_header {
    font-weight: 800;
    font-size: 36px;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
