body {
    margin: 30px 70px 0;
}

.hompage_image {
    width: 100%;
}

h1 {
    font-family: 'Rubik';
    font-weight: 500;
    color: #262626;
    font-size: 40px;
}

p {
    font-family: 'Segoe UI', sans-serif;
    color: #262626;
}

.welcome_message {
    margin: 50px;
    font-size: 20px;
}

.image_header {
    font-weight: 800;
    font-size: 36px;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

nav {
  font-family: 'Rubik';
  font-size: 25px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 58px;
}

.nav-links-left {
  display: flex;
  align-items: center;
}

.nav-links-right {
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  height: 140px;
  width: 140px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-link {
  color: #333;
  text-decoration: none;
  margin: 0 0.5rem;
}

.nav-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }

  .nav-links-left,
  .logo-container,
  .nav-links-right {
    margin-bottom: 1rem;
  }

  .logo {
    margin: 0;
  }
}

.newsletter {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background-color: #F2F2F2;
}

h2 {
    align:
    font-size: 2rem;
    margin-bottom: 10px;
}

.newsletter p {
    font-size: 20px;
    margin-bottom: 20px;
}

.newsletter input[type="email"] {
    width: 90%;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 15px;
    border: none;
    margin-bottom: 40px;
}

.newsletter button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #1D7BC7;
    color: white;
    border-radius: 20px;
    border: none;
    outline: none;
}
